<div class="modal fade modal-clone-image" id="ModalClone">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hình Mobile cho nội dung bài viết</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="group-btn">
                    <input type="button" class="btn btn-secondary btn-clone" value="Clone Image">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-modal-clone">
                            <h3>Hình Desktop</h3>
                        </div>
                        <div class="list-image-desktop">
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="title-modal-clone">
                            <h3>Hình Mobile</h3>
                        </div>
                        <div class="list-image-mobile">
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="item-image">
                                <img src="assets/image/video/img2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>