@using System.Web.Configuration;
@model IEnumerable<webCMS3.Models.tblTag>
@{
    string url = WebConfigurationManager.AppSettings["UrlHost"];
}

@foreach (var item in Model)
{
    string strLink = url + "tag/" + myCommon.FriendlyUrl(item.TagName) + "-" + item.Id + ".html";
    <a href="@strLink" title="@item.TagName" class="badge rounded-0">@item.TagName</a>
}

